.container{
    background-color: #414141;
    height: 100%;
  
}

.container-fluid{
    background-color: black;
    height: 100%;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 5em;
}

footer{
    background-color: #414141;
    height: 100px;
    padding-top: 30px;
}